.nav{
    height:auto;
    width: 100%;
    background-color: #F7EBE5;
    position: relative;
    margin-bottom: 0;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 50px;
        // align-items: center;
        justify-content: space-around;

            li{
                margin: 0 3px;
            }
    }
}